.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.text-danger {
  color: red;
}
.text-warning {
  color: yellow;
}
.text-success {
  color: green;
}
.text-primary {
  color: blue;
}
.input-border {
  border: 2px solid blue;
  border-radius: 4px;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.dark-mode:hover {
  color: white;
}
.dark-background {
  background-color: black;
  color: white;
}
.light-background {
  background-color: white;
  color: black;
}
#switch {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
.container {
  text-align: justify;
  margin-top: 20px;
}
img {
  border-radius: 6px;
}
.header{
  height: 120px;
  padding-bottom: 10px;
  margin-top: 40px;
  list-style-type: none;
  overflow: hidden;
  border-radius: 8px;
  padding-top: 20px;
  background-color: #F7F7F7;
}
#logo {
  height: 80px;
}
#menu ul {
  list-style: none;
  padding-top: 30px;
}
#menu ul li a {
  text-decoration: none;
  color: #907B6E;
  text-transform: uppercase;
}
footer {
  height: 60px;
  background-color: #F7F7F7;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}
.dark-theme {
  background-color: #322820;
}
#logo {
  margin-left: 20px;
}